@font-face {
  font-family: 'AuthenticSans';
  font-display: block;
  src: url('../fonts/AUTHENTIC-Sans.woff') format('woff');
}
@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

html { font-size: 1vw }
body {
  -webkit-font-smoothing: antialiased;
  font: normal var(--clamp) 'AuthenticSans', sans-serif;
  color: white;
  text-align: center;
  overflow-x: hidden;

  --clamp: clamp(20px, 1.5rem, 32px);
  --plyr-control-icon-size: 25px;
  --plyr-video-background: rgba(0,0,0,0);
  --plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

ul { list-style-type: none }
a { text-decoration: none; opacity: .5; pointer-events: all }
a:hover, .active { opacity: 1 }
a, .button, path { transition: opacity .3s ease-in-out }

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
  grid-column-gap: 2rem;
}
nav {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  width: 100%;
  padding: 2rem;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}
.logo svg { max-height: calc(100vh - 2rem); animation: rotate 540s linear infinite }
.logo a { opacity: 1 }
.logo a:hover + path { opacity: .5 }
.mobile { display: none }

.content { margin: 0 20% 16vh 20% }
.info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist li { position: relative; margin: 15vh 0 }
.carousel { width: auto; margin: 0 auto }
figure, figure * { width: 100%; height: auto }
.carousel img, .plyr { transition: opacity .5s ease-in-out; opacity: 0 }
.carousel .flickity-lazyloaded, .plyr.videoLoaded { opacity: 1 }
.flickity-viewport { height: 100% }
.flickity-button:disabled, .flickity-page-dots { display: none }
.flickity-prev-next-button { width: 30px; height: 30px }
.plyr--video, .plyr__video-wrapper { background: rgba(0,0,0,0) }

.button {
  left: 0;
  background: rgba(0,0,0,0);
  margin: .25rem 0 .5rem;
  border: none;
  cursor: pointer;
}
.button:hover { opacity: .5 }
.button:focus { outline: none }
.info .button { margin-top: -.25rem }
.caption { display: none }
.caption p:not(:last-of-type) { margin-bottom: var(--clamp) }

.background, .background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
.background { background: linear-gradient(180deg, rgba(193,193,242,1) 0%, rgba(255,183,239,1) 75%, rgba(255,162,164,1) 95%, rgba(255,175,145,1) 100%) }
.background-gradient { opacity: 0; transition: opacity 1.5s ease-in-out }
.NicoleMonks-gradient { background: linear-gradient(180deg, rgba(24,154,255,1) 0%, rgba(70,200,255,1) 50%, rgba(247,255,255,1) 90%, rgba(255,230,160,1) 100%) }
.SabDSouza-gradient { background: linear-gradient(180deg, rgba(255,214,106,1) 0%, rgba(255,142,84,1) 90%, rgba(141,196,250,1) 100%) }
.OhniBlu-gradient { background: linear-gradient(180deg, rgba(35,128,255,1) 0%, rgba(255,102,208,1) 80%, rgba(255,78,118,1) 90%, rgba(255,131,80,1) 100%) }
.MakeorBreak-gradient { background: linear-gradient(180deg, rgba(255,107,64,1) 0%, rgba(255,191,51,1) 85%, rgba(227,127,229,1) 100%) }
.Mickelo-gradient { background: linear-gradient(180deg, rgba(255,81,106,1) 0%, rgba(237,84,167,1) 70%, rgba(53,129,255,1) 90%, rgba(135,211,248,1) 100%) }
.HarryBonifacioBaughan-gradient { background: linear-gradient(180deg, rgba(10,0,39,1) 0%, rgba(0,149,254,1) 85%, rgba(252,237,95,1) 100%) }
.NadeenaDixon-gradient { background: linear-gradient(180deg, rgba(226,92,121,1) 22%, rgba(255,181,50,1) 85%, rgba(166,176,240,1) 100%) }

@media (max-width:959px) {
  html { font-size: 2vw }
  body { margin-top: 100vh }
  main { grid-template-columns: 1fr }

  .logo {
    position:fixed;
    top: 0;
    left: 0;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  .content { margin-top: -200vh }
  .artist .info > *:not(.caption) { display: none }
  .artist .info .caption {
    display: inline-block!important;
    margin-top: 115vh;
    z-index: 1;
  }
  .artist .button, .artist .caption {
    background:linear-gradient(0deg, rgba(220,220,220,.8) 0%, rgba(240,240,240,.8) 10%, rgba(255,255,255,.8) 100%);
    color: black;
    border-radius: var(--clamp);
  }
  .artist .button { margin: 10px 0; padding: 1px 12px 12px }
  .artist .caption { padding: var(--clamp) }
}

@media (max-width:759px) {
  .content, .intro { margin-left: 3rem; margin-right: 3rem }
  .desktop { display: none }
  .mobile { display: block }
}

@media (max-width: 399px) {
  body { --clamp: 15px }
  .artist .button { padding: 4px 10px 10px }
}
